<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admins}" th:object="${user}">
  <div>
    <label for="username">Введите логин: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <input type="submit" value="Добавить пользователя">
  </div>
</form>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Выйти из аккаунта" />
</form>
</body>
</html>